* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
}

p {
	color: #e5e5e5;
	text-align: center;
}

/* Navigation Bar */

nav {
	height: 95px;
	margin-bottom: 40px;
	background-color: #383838;
}

.navbar {
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

.navbar ul li a {
	text-decoration: none;
	color: #fca311;
	text-transform: uppercase;
}

.navbar ul li::after {
	content: '';
	height: 3px;
	width: 0;
	background: #fca311;
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: 0.5s;
}

.navbar ul li:hover::after {
	width: 100%;
}

/* Progress buttons */

.progressButton {
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #fca311;
	background: transparent;
	color: #ffffff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.button_span {
	background: #fca311;
	height: 100%;
	width: 0;
	border-radius: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span {
	width: 100%;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

/* Carousel */
.c-item {
	height: 500px;
}

.c-img {
	height: 100%;
	object-fit: cover;
}

/* Container of the carousel*/
.container {
	display: grid;
	gap: 0px 0px;
	margin-left: 0px; /* TODO: check */
	margin-right: 0px; /* TODO: check */
}
  
.left-half {
	background: black;
	grid-column: 1;
}
  
.right-half {
	background: black;
	grid-column: 2;
	margin: 0 auto;
    width: 80%;
	text-align: center;
}

.center{
	padding: 25vh 0;
	text-align: center;
}

/*radio button*/

.container_radioButton {
  position: relative;
  margin: 20px;
  overflow: hidden;
  width: 160px;
}
.hidden {
  display: none;
}
.entry {
  height: 25px;
  position: absolute;
  width: 160px;
}
.entry:nth-child(2) {
  left: 8px;
  top: 8px;
}
.entry:nth-child(4) {
  left: 8px;
  top: 58px;
}
.entry:nth-child(6) {
  left: 8px;
  top: 108px;
}
.circle {
  border: 2px solid #545556;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
  transition: border-color 300ms;
  width: 20px;
}
.entry-label {
  cursor: pointer;
  margin-top: -3px;
  padding-left: 40px;
  user-select: none;
  -moz-user-select: none;
}
.overlay {
  mask: url(#holes);
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAACMCAYAAAAOc+uVAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAItSURBVHic7ZnNjhJBFIVPA0txr0Iyw+tIdOXWaDRufZWZeYbZuMKOUV9Gg+HHGN/BHBcNcSBT1KVOEVycb0mq635UVd9U5zQkif+Y3rkFclhQxYIqFlQZiM8vALQAPgP4AWC1+X0E4ALAFMBzAOPiCixjRfIdyX5g/h7JFyTnJYVKBGckHxQsxJBke2rBK5LF55bdal6fSnCmyO1JhlcyKrhkwbYekBySXNcUfF1L7o7k20jhhsxetxYAJk3T/Kks2EfXmkaHxkXO1MfacgCwmbPNjYsIftV1knzJDYgIfqsgkuJ7bkBE8FcFkRTr3IBzXxay9SOCjyuIFM8dEZxUECmeOyL4tIJIimluQKRRLwFcnqBRDwDMUaFRjwG8quC0zxtk5ACEL6wrksNaZiQfkvwZKRxtM08AfGDgBh2Q6wG4BfAo+sAxXB/xp+6VI3lzTMGSK3/Lgu1mt62fji1W+tH0m+R7dm9iZNVeMnjm9om0mUOs8O+zc47dz84Juh76DJG3NYEqeHLOfVnIYkEVC6pYUMWCKhZUsaCKBVUsqGJBFQuqWFDFgipO3OnEfRcn7qWCTtxTOHFP4cS9Ek7cVZy4qzhxL4ZO3AXoxF2QoxP3DifuW5y4q1hQxYIqFlSxoIoFVSyoYkEVC6pYUMWCKhZUsaCKE3c6cd/FiXupoBP3FE7cUzhxr4QTdxUn7ipO3IuhE3cBOnEX5OjEvcOJ+xYn7ioWVLGgigVV/gKEL4RSyM8Z8wAAAABJRU5ErkJggg==);
  height: 140px;
  pointer-events: none;
  transition: background 300ms;
  width: 40px;
}
.highlight {
  background: #fca311;
  border-radius: 50%;
  height: 12px;
  left: 14px;
  pointer-events: none;
  position: absolute;
  top: 14px;
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
  transform: translateY(-50px);
  width: 12px;
}
.hidden:nth-child(1):checked ~ .highlight {
  transform: translateY(0);
}
.hidden:nth-child(3):checked ~ .highlight {
  transform: translateY(50px);
}
.hidden:nth-child(5):checked ~ .highlight {
  transform: translateY(100px);
}
.hidden:nth-child(1):checked + .entry .circle {
  border-color: #fca311;
}
.hidden:nth-child(3):checked + .entry .circle {
  border-color: #fca311;
}
.hidden:nth-child(5):checked + .entry .circle {
  border-color: #fca311;
}

/* TicTacToe */
body {
	background-color: black;
	color: black;
	text-align: center;
	color: white;
}

table {
	margin: 2% auto;
	border-collapse: collapse;
}

.opponent_selection {
	width: 20vw;
	text-align: left;
}
.opponent_image {
	width: 20vw;
	text-align: right;
}

#table_game {
	position: relative;
	font-size: 120px;
	margin: 1% auto;
	border-collapse: collapse;
}

.td_game {
	border: 4px solid white;
	width: 90px;
	height: 90px;
	padding: 0;
	vertical-align: middle;
	text-align: center;
}

.cell {
	width: 90px;
	height: 90px;
	line-height: 90px;
	display: block;
	overflow: hidden;
	cursor: pointer;
}

.x {
	color: cyan;
	position: relative;
	top: px;
	font-size: 1.2em;
	cursor: default;
}

.o {
	color: magenta;
	position: relative;
	top: -7px;
	font-size: 1.0em;
	cursor: default;
}

#tree_table_game {
	display: inline-block;
	position: relative;
	margin: 1%;
	border-collapse: collapse;
}

.ttd_game {
	border: 4px solid rgb(170, 170, 170);
	padding: 0;
	vertical-align: middle;
	text-align: center;
}

.tree_cell {
	display: block;
	overflow: hidden;
	cursor: pointer;
}

.tree_x {
	color: cyan;
	position: relative;
	top: px;
	font-size: 5cqb;
	cursor: default;
}

.tree_o {
	color: magenta;
	position: relative;
	top: -0.7cqb;
	font-size: 5cqb;
	cursor: default;
}

#restart {
	font-size: 3em;
	cursor: pointer;
	margin: 0 auto;

}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: rgb(36, 36, 36);
	color: rgb(32, 32, 32);
	font-size: 2em;
	font-weight: bold;
	margin: 16% auto;
	padding: 20px;
	border: 2px solid black;
	border-radius: 10px;
	width: 380px;
	max-width: 80%;
}

.modal-content p {
	margin: 0;
	padding: 0;
}

.close {
	color: rgb(170, 170, 170);
	float: right;
	position: relative;
	top: -25px;
	right: -10px;
	font-size: 34px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.win-color {
	background-color: rgb(35, 35, 35);
}

.tree_win-color {
	background-color: rgb(35, 35, 35);
}

.level1, .level3 {
	background-color: rgba(0, 255, 255, 0.20)
}
.level2, .level4 {
	background-color: rgba(255, 0, 255, 0.20)
}