* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #001530;
	text-align: center;
	color: white;
}

h1 {
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
}

p {
	color: #e5e5e5;
	text-align: center;
}

.big {
	font-size: 2.5em;
}


/*Nav bar*/
.navbar {
	background-color: #1e96fc;
	z-index: 9;
}

.navar-brand {
	font-weight: 500;
	color: #001530;
	font-size: 24px;
	transition: 0.3s color;
}

.navbar-toggler {
	border: none;
	font-size: 1.25rem;

}

.navbar-toggler:focus,
.btn-close:focus {
	box-shadow: none;
	outline: none;
}


.nav-link {
	color: white;
	font-weight: 500;
	position: relative;
}

.nav-link:hover,
.nav-link.active {
	color: #001530;
}



@media (min-width: 991px) {

	.nav-link::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
		width: 0;
		height: 2px;
		background-color: #001530;
		visibility: hidden;
		transition: 0.3s ease-in-out;
	}

	.nav-link:hover::before,
	.nav-link.active::before {
		width: 100%;
		visibility: visible;
	}
}

.sidebar_background {
	background-color: #1e96fc;
}




/* Progress buttons */

.progressButton {
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #00a8e8;
	background: transparent;
	color: #ffffff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.button_span {
	background: #00a8e8;
	height: 100%;
	width: 0;
	border-radius: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span {
	width: 100%;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

.formforlink {
	margin-top: -20px;
}

/* Carousel */
#fullCarousel {
	position: absolute;
	width: 100%;
	top: 0;
}

.c-item {
	padding-left: 2vw;
	padding-right: 2vw;
}

.c-img {
	height: 100%;
	object-fit: cover;
}

/* Container of the carousel*/
.container {
	display: grid;
	gap: 0px 0px;
	margin-left: 0px;
	/* TODO: check */
	margin-right: 0px;
	/* TODO: check */
}


.carousel .item .img-box {
	width: 400px;
	margin: 0 auto;
	padding: 5px;

}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
}


/*radio button*/

.container_radioButton {
	position: relative;
	margin: 2px;
	overflow: hidden;
	width: 160px;
}

.hidden {
	display: none;
}

.entry {
	height: 25px;
	position: absolute;
	width: 160px;
}

.entry:nth-child(2) {
	left: 8px;
	top: 8px;
}

.entry:nth-child(4) {
	left: 8px;
	top: 58px;
}

.entry:nth-child(6) {
	left: 8px;
	top: 108px;
}

.circle {
	border: 2px solid #545556;
	border-radius: 50%;
	cursor: pointer;
	height: 20px;
	position: absolute;
	transition: border-color 300ms;
	width: 20px;
}

.entry-label {
	text-align: left;
	cursor: pointer;
	margin-top: -3px;
	padding-right: 40px;
	user-select: none;
	-moz-user-select: none;
}

.entry-label {
	cursor: pointer;
	margin-top: -3px;
	padding-left: 40px;
	user-select: none;
	-moz-user-select: none;
}

.overlay {
	height: 140px;
	width: 40px;
	pointer-events: none;
	transition: background 300ms;
}

.highlight {
	background: #00a8e8;
	border-radius: 50%;
	height: 12px;
	left: 12px;
	pointer-events: none;
	position: absolute;
	top: 12px;
	transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
	transform: translateY(-50px);
	width: 12px;
}

.hidden:nth-child(1):checked~.highlight {
	transform: translateY(0);
}

.hidden:nth-child(3):checked~.highlight {
	transform: translateY(49.5px);
}

.hidden:nth-child(5):checked~.highlight {
	transform: translateY(100px);
}

.hidden:nth-child(1):checked+.entry .circle {
	border-color: #00a8e8;
}

.hidden:nth-child(3):checked+.entry .circle {
	border-color: #00a8e8;
}

.hidden:nth-child(5):checked+.entry .circle {
	border-color: #00a8e8;
}

/* TicTacToe */

table {
	margin: 2% auto;
	border-collapse: collapse;
}

.opponent_selection {
	width: 20vw;
	text-align: left;
}

.opponent_image {
	width: 20vw;
	text-align: right;
}

#table_game {
	position: relative;
	font-size: 120px;
	margin: 1% auto;
	border-collapse: collapse;
}

.td_game {
	border: 4px solid white;
	width: 90px;
	height: 90px;
	padding: 0;
	vertical-align: middle;
	text-align: center;
}

.cell {
	width: 90px;
	height: 90px;
	line-height: 90px;
	display: block;
	overflow: hidden;
	cursor: pointer;
}

.x {
	color: cyan;
	position: relative;
	top: 0px;
	font-size: 1.2em;
	cursor: default;
}

.o {
	color: magenta;
	position: relative;
	top: -11px;
	font-size: 1.0em;
	cursor: default;
}

.x_phantom {
	color: rgba(0, 255, 255, 0.5);
	position: relative;
	top: 0px;
	font-size: 1.2em;
	cursor: default;
	pointer-events: none;
}

.o_phantom {
	color: rgba(255, 0, 255, 0.5);
	position: relative;
	top: -11px;
	font-size: 1.0em;
	cursor: default;
	pointer-events: none;
}

#tree_table_game {
	display: inline-block;
	position: relative;
	margin: 0.5%;
	border-collapse: collapse;
}

.ttd_game {
	border: 2px solid rgb(170, 170, 170);
	width: 30px;
	height: 30px;
	padding: 0;
	vertical-align: middle;
	text-align: center;
}

.tree_cell {
	display: block;
	overflow: hidden;
}

.tree_x {
	color: cyan;
	position: relative;
	top: 0px;
	font-size: 20px;
	cursor: default;
}

.tree_o {
	color: magenta;
	position: relative;
	top: -0.2cqb;
	font-size: 20px;
	cursor: default;
}

#restart {
	font-size: 3em;
	cursor: pointer;
	margin: 0 auto;

}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: rgb(0, 40, 80);
	font-size: 2em;
	font-weight: bold;
	margin: 16% auto;
	padding: 20px;
	border: 2px solid black;
	border-radius: 10px;
	width: 380px;
	max-width: 80%;
}

.modal-content p {
	margin: 0;
	padding: 0;
}

.win-color {
	background-color: rgba(255, 255, 255, 0.2);
}

.tree_win-color {
	background-color: rgba(255, 255, 255, 0.3);
}

.playerPicture {
	width: 20vh;
	height: 20vh;
	border-radius: 80%;
}

/*About us*/
.link:link {
	color: #00e8e8;
	text-decoration: none;
}

.link:visited {
	color: #e000e0;
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.rounded {
	border-radius: 50%;
}

.profilePicture {
	width: 20vh;
	height: 20vh;
	border-radius: 80%;
	transition: 0.5s;
}
.profilePicture:hover {
	transform: scale(1.2);
}

.oval {
	padding: 30px;
	background-color: #204070;
	margin-left: 11vw;
	margin-right: 11vw;
	border-radius: 50px;
	margin-bottom: 2vw;
}

.bigger {
	font-size: 2vw;
}

/* Statistics */

.label_box {
	display: inline-block;
	height: 20px;
	width: 50px;
	margin-right: 20px;
	border: 2px solid white;
}